USE [master]
GO
/****** Object:  Database [Erastour]    Script Date: 13/05/2026 18:58:52 ******/
CREATE DATABASE [Erastour]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Erastour', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Erastour.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Erastour_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Erastour_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Erastour].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Erastour]
GO
/****** Object:  Table [dbo].[CONCERNE]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONCERNE](
	[VOYAGE_ID] [int] NOT NULL,
	[UTIL_ID] [int] NOT NULL,
 CONSTRAINT [PK_CONCERNE] PRIMARY KEY CLUSTERED 
(
	[VOYAGE_ID] ASC,
	[UTIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIEU]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIEU](
	[LIEU_ID] [int] IDENTITY(1,1) NOT NULL,
	[LIEU_NOM] [varchar](100) NULL,
	[LIEU_ADRESSE] [varchar](100) NULL,
	[LIEU_VILLE] [varchar](100) NULL,
	[LIEU_CP] [varchar](10) NULL,
	[LIEU_PAYS] [varchar](128) NULL,
	[LIEU_LIENMAP] [varchar](1000) NULL,
	[LIEU_COMMENTAIRE] [text] NULL,
 CONSTRAINT [PK_LIEU] PRIMARY KEY CLUSTERED 
(
	[LIEU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAJET]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAJET](
	[TRA_ID] [int] IDENTITY(1,1) NOT NULL,
	[VOYAGE_ID] [int] NOT NULL,
	[TRAN_ID] [int] NOT NULL,
	[LIEU_ID] [int] NOT NULL,
	[TRA_LIEU_DEPART] [varchar](50) NULL,
	[TRA_LIEU_ARRIVE] [varchar](50) NULL,
	[TRA_DATE_DEPART] [datetime] NULL,
	[TRA_DATE_ARRIVE] [datetime] NULL,
	[TRA_ORDRE] [int] NULL,
	[TRA_PRIX] [money] NULL,
	[TRA_STATUT] [varchar](32) NULL,
 CONSTRAINT [PK_TRAJET] PRIMARY KEY CLUSTERED 
(
	[TRA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORT]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORT](
	[TRAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRAN_TYPE] [varchar](32) NULL,
	[TRAN_COMPAGNIE] [varchar](50) NULL,
	[TRAN_NUMERO] [varchar](32) NULL,
 CONSTRAINT [PK_TRANSPORT] PRIMARY KEY CLUSTERED 
(
	[TRAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[UTIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[UTIL_LOGIN] [varchar](128) NULL,
	[UTIL_NOM] [varchar](38) NULL,
	[UTIL_PRENOM] [varchar](38) NULL,
	[UTIL_PASSWORD] [varchar](128) NULL,
	[UTIL_EMAIL] [varchar](128) NULL,
	[UTIL_TEL] [varchar](15) NULL,
	[UTIL_ESTGESTIONNAIRE] [bit] NULL,
 CONSTRAINT [PK_UTILISATEUR] PRIMARY KEY CLUSTERED 
(
	[UTIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOYAGE]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOYAGE](
	[VOYAGE_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_VOYAGE] PRIMARY KEY CLUSTERED 
(
	[VOYAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONCERNE]  WITH CHECK ADD  CONSTRAINT [FK_CONCERNE_UTILISATEUR] FOREIGN KEY([UTIL_ID])
REFERENCES [dbo].[UTILISATEUR] ([UTIL_ID])
GO
ALTER TABLE [dbo].[CONCERNE] CHECK CONSTRAINT [FK_CONCERNE_UTILISATEUR]
GO
ALTER TABLE [dbo].[CONCERNE]  WITH CHECK ADD  CONSTRAINT [FK_CONCERNE_VOYAGE] FOREIGN KEY([VOYAGE_ID])
REFERENCES [dbo].[VOYAGE] ([VOYAGE_ID])
GO
ALTER TABLE [dbo].[CONCERNE] CHECK CONSTRAINT [FK_CONCERNE_VOYAGE]
GO
ALTER TABLE [dbo].[TRAJET]  WITH CHECK ADD  CONSTRAINT [FK_TRAJET_LIEU] FOREIGN KEY([LIEU_ID])
REFERENCES [dbo].[LIEU] ([LIEU_ID])
GO
ALTER TABLE [dbo].[TRAJET] CHECK CONSTRAINT [FK_TRAJET_LIEU]
GO
ALTER TABLE [dbo].[TRAJET]  WITH CHECK ADD  CONSTRAINT [FK_TRAJET_TRANSPORT] FOREIGN KEY([TRAN_ID])
REFERENCES [dbo].[TRANSPORT] ([TRAN_ID])
GO
ALTER TABLE [dbo].[TRAJET] CHECK CONSTRAINT [FK_TRAJET_TRANSPORT]
GO
ALTER TABLE [dbo].[TRAJET]  WITH CHECK ADD  CONSTRAINT [FK_TRAJET_VOYAGE] FOREIGN KEY([VOYAGE_ID])
REFERENCES [dbo].[VOYAGE] ([VOYAGE_ID])
GO
ALTER TABLE [dbo].[TRAJET] CHECK CONSTRAINT [FK_TRAJET_VOYAGE]
GO
ALTER TABLE [dbo].[TRAJET]  WITH CHECK ADD CHECK  (([TRA_STATUT]='annule' OR [TRA_STATUT]='termine' OR [TRA_STATUT]='encours' OR [TRA_STATUT]='confirme' OR [TRA_STATUT]='enattente'))
GO
ALTER TABLE [dbo].[TRANSPORT]  WITH CHECK ADD CHECK  (([TRAN_TYPE]='velo' OR [TRAN_TYPE]='voiture' OR [TRAN_TYPE]='marche' OR [TRAN_TYPE]='bateau' OR [TRAN_TYPE]='bus' OR [TRAN_TYPE]='train' OR [TRAN_TYPE]='avion'))
GO
/****** Object:  StoredProcedure [dbo].[GetUtilisateurParEmailEtMdp]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUtilisateurParEmailEtMdp]
    @email NVARCHAR(255),
    @password NVARCHAR(255)
AS
BEGIN
    SELECT UTIL_ID, UTIL_LOGIN, UTIL_NOM, UTIL_PRENOM, UTIL_EMAIL, UTIL_TEL, UTIL_ESTGESTIONNAIRE
    FROM UTILISATEUR
    WHERE UTIL_EMAIL = @email AND UTIL_PASSWORD = @password
END
GO
/****** Object:  StoredProcedure [dbo].[PS_D_LIEU]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_D_LIEU
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT LA SUPPRESSION D'UN LIEU.
CREATE PROCEDURE [dbo].[PS_D_LIEU]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM LIEU
    WHERE 
        LIEU_ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_D_TRANSPORT]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_D_TRANSPORT
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT LA SUPPRESSION D'UN TRANSPORT.
CREATE PROCEDURE [dbo].[PS_D_TRANSPORT]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TRANSPORT
    WHERE 
        TRAN_ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_D_VOYAGEUR]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_D_VOYAGEUR
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT LA SUPPRESSION D'UN VOYAGEUR.
CREATE PROCEDURE [dbo].[PS_D_VOYAGEUR]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM UTILISATEUR
    WHERE 
        UTIL_ID = @ID 
        AND UTIL_ESTGESTIONNAIRE = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_I_LIEU]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_I_LIEU
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT L'INSERTION D'UN NOUVEAU LIEU.
CREATE PROCEDURE [dbo].[PS_I_LIEU]
    @NOM VARCHAR(100),
	@ADRESSE VARCHAR(100),
    @VILLE VARCHAR(100),
	@CP VARCHAR(10),
    @PAYS VARCHAR(128),
	@LIENMAP VARCHAR(1000),
	@COMMENTAIRE TEXT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO LIEU (
        LIEU_NOM,
		LIEU_ADRESSE,
        LIEU_VILLE, 
		LIEU_CP,
        LIEU_PAYS,
		LIEU_LIENMAP,
		LIEU_COMMENTAIRE
    ) 
    VALUES ( 
        @NOM,
		@ADRESSE,
        @VILLE, 
		@CP,
        @PAYS,
		@LIENMAP,
		@COMMENTAIRE
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_I_TRANSPORT]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_I_TRANSPORT
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT L'INSERTION D'UN NOUVEAU TRANSPORT.
CREATE PROCEDURE [dbo].[PS_I_TRANSPORT]
    @TYPE VARCHAR(32),
    @COMPAGNIE VARCHAR(50),
    @NUMERO VARCHAR(32)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TRANSPORT (
        TRAN_TYPE, 
        TRAN_COMPAGNIE, 
        TRAN_NUMERO
    ) 
    VALUES (
        @TYPE, 
        @COMPAGNIE, 
        @NUMERO
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_I_VOYAGEUR]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_I_VOYAGEUR
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT L'INSERTION D'UN NOUVEAU VOYAGEUR.LE MOT DE PASSE EST REQUIS CAR C'EST UN COMPTE DE CONNEXION.
CREATE PROCEDURE [dbo].[PS_I_VOYAGEUR]
    @LOGIN VARCHAR(128),
    @NOM VARCHAR(38),
    @PRENOM VARCHAR(38),
    @PASSWORD VARCHAR(128),
	@EMAIL VARCHAR(128),
	@TEL VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UTILISATEUR (
        UTIL_LOGIN, 
        UTIL_NOM, 
        UTIL_PRENOM,
        UTIL_PASSWORD,
		UTIL_EMAIL,
		UTIL_TEL,
        UTIL_ESTGESTIONNAIRE
    ) 
    VALUES (
        @LOGIN, 
        @NOM, 
        @PRENOM, 
        @PASSWORD, 
		@EMAIL,
		@TEL,
        0
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_S_LIEU_BY_ID]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_S_LIEU_BY_ID]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        LIEU_ID,
        LIEU_NOM,
		LIEU_ADRESSE,
        LIEU_VILLE,
		LIEU_CP,
        LIEU_PAYS,
		LIEU_LIENMAP,
		LIEU_COMMENTAIRE
    FROM 
        LIEU
    WHERE 
        LIEU_ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_S_LIEUX]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT DE RECUPERER LA LISTE DE TOUS LES LIEUX ENREGISTRES (AEROPORTS, GARES, ETC.).

CREATE PROCEDURE [dbo].[PS_S_LIEUX]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        LIEU_ID,
        LIEU_NOM,
		LIEU_ADRESSE,
        LIEU_VILLE,
		LIEU_CP,
        LIEU_PAYS,
		LIEU_LIENMAP,
		LIEU_COMMENTAIRE
    FROM 
        LIEU
    ORDER BY 
		LIEU_NOM ASC,
        LIEU_PAYS ASC, 
        LIEU_VILLE ASC,
		LIEU_ADRESSE ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_S_TRANSPORT_BY_ID]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_S_TRANSPORT_BY_ID]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TRAN_ID,
        TRAN_TYPE,
        TRAN_COMPAGNIE,
        TRAN_NUMERO
    FROM 
        TRANSPORT
    WHERE 
        TRAN_ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_S_TRANSPORTS]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_S_TRANSPORTS
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT DE RECUPERER LA LISTE DE TOUS LES MOYENS DE TRANSPORT CONFIGURES DANS LE SYSTEME.

CREATE PROCEDURE [dbo].[PS_S_TRANSPORTS]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TRAN_ID,
        TRAN_TYPE,
        TRAN_COMPAGNIE,
        TRAN_NUMERO
    FROM 
        TRANSPORT
    ORDER BY 
        TRAN_TYPE ASC, 
        TRAN_COMPAGNIE ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_S_UTILISATEUR_BY_ID]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_S_UTILISATEUR_BY_ID]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UTIL_ID,
        UTIL_LOGIN,
        UTIL_NOM,
        UTIL_PRENOM,
		UTIL_EMAIL,
		UTIL_TEL,
        UTIL_ESTGESTIONNAIRE
    FROM 
        UTILISATEUR
    WHERE 
        UTIL_ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[PS_S_UTILISATEUR_LOGIN]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_S_UTILISATEUR_LOGIN]
    @LOGIN VARCHAR(150),
    @MDP VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UTIL_ID,
        UTIL_LOGIN,
        UTIL_NOM,
        UTIL_PRENOM,
		UTIL_PASSWORD,
		UTIL_EMAIL,
		UTIL_TEL,
        UTIL_ESTGESTIONNAIRE
    FROM 
        UTILISATEUR
    WHERE 
        UTIL_LOGIN = @LOGIN 
        AND UTIL_PASSWORD = @MDP;

END;
GO
/****** Object:  StoredProcedure [dbo].[PS_S_VOYAGEUR_BY_ID]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_S_VOYAGEUR_BY_ID]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UTIL_ID,
		UTIL_LOGIN,
		UTIL_NOM,
		UTIL_PRENOM,
		UTIL_PASSWORD,
		UTIL_EMAIL,
		UTIL_TEL
    FROM 
        UTILISATEUR
    WHERE 
		UTIL_ESTGESTIONNAIRE = 0 AND
        UTIL_ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_S_VOYAGEURS]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_S_VOYAGEURS]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UTIL_ID,
        UTIL_LOGIN,
        UTIL_NOM,
        UTIL_PRENOM,
		UTIL_PASSWORD,
		UTIL_EMAIL,
		UTIL_TEL
    FROM 
        UTILISATEUR
	WHERE 
		UTIL_ESTGESTIONNAIRE = 0
    ORDER BY 
        UTIL_NOM ASC, 
        UTIL_PRENOM ASC,
		UTIL_LOGIN ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_U_LIEU]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_U_LIEU
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT LA MISE A JOUR DES INFORMATIONS D'UN LIEU EXISTANT A PARTIR DE SON IDENTIFIANT.

CREATE PROCEDURE [dbo].[PS_U_LIEU]
    @ID INT,
    @NOM VARCHAR(100),
	@ADRESSE VARCHAR(100),
	@VILLE VARCHAR(100),
	@CP VARCHAR(10),
    @PAYS VARCHAR(128),
	@LIENMAP VARCHAR(1000),
	@COMMENTAIRE TEXT

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE LIEU
    SET 	
        LIEU_NOM = @NOM,
		LIEU_ADRESSE = @ADRESSE,
        LIEU_VILLE = @VILLE,
		LIEU_CP = @CP,
        LIEU_PAYS = @PAYS,
		LIEU_LIENMAP = @LIENMAP,
		LIEU_COMMENTAIRE = @COMMENTAIRE
    WHERE 
        LIEU_ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_U_TRANSPORT]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_U_TRANSPORT
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT LA MISE A JOUR D'UN MOYEN DE TRANSPORT EXISTANT A PARTIR DE SON IDENTIFIANT.

CREATE PROCEDURE [dbo].[PS_U_TRANSPORT]
    @ID INT,
    @TYPE VARCHAR(32),
    @COMPAGNIE VARCHAR(50),
    @NUMERO VARCHAR(32)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TRANSPORT
    SET 
        TRAN_TYPE = @TYPE,
        TRAN_COMPAGNIE = @COMPAGNIE,
        TRAN_NUMERO = @NUMERO
    WHERE 
        TRAN_ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PS_U_VOYAGEUR]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDURE STOCKEE : PS_U_VOYAGEUR
-- DESCRIPTIF : PROCEDURE STOCKEE PERMETTANT LA MISE A JOUR DES INFORMATIONS D'UN VOYAGEUR EXISTANT A PARTIR DE SON IDENTIFIANT.
CREATE PROCEDURE [dbo].[PS_U_VOYAGEUR]
    @ID INT,
    @LOGIN VARCHAR(128),
    @NOM VARCHAR(38),
    @PRENOM VARCHAR(38),
	@PASSWORD VARCHAR(128),
	@EMAIL VARCHAR(128),
	@TEL VARCHAR(14)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE UTILISATEUR
    SET 
        UTIL_LOGIN = @LOGIN,
        UTIL_PRENOM = @PRENOM,
        UTIL_NOM = @NOM,
		UTIL_PASSWORD = @PASSWORD,
		UTIL_EMAIL = @EMAIL,
		UTIL_TEL = @TEL
    WHERE 
        UTIL_ID = @ID 
        AND UTIL_ESTGESTIONNAIRE = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[VerifierConnexionUtilisateur]    Script Date: 13/05/2026 18:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerifierConnexionUtilisateur]
    @email NVARCHAR(255),
    @password NVARCHAR(255),
	@isValid BIT OUTPUT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM UTILISATEUR WHERE UTIL_EMAIL = @email AND UTIL_PASSWORD = @password
    )
        SET @isValid = 1
    ELSE
        SET @isValid = 0
END
GO
USE [master]
GO
